html {
    font-size: 16px;
}

h1 {
    color: red;
}

#web_heading{
    text-align: center;
}
#game_titles {
    display: flex;
    justify-content: center;

}

img {
    width: 20rem;
    height: auto;
    border-radius: 2rem;
}

img:hover {
    border-bottom: 5px solid red;
    border-right: 5px solid red;
}