html {
    font-size: 16px;
}

/* About Me Section */
.about {
    display: flex;
    background: #2A3443;
    border-radius: 50px;
}

.about-child {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 35rem;
    color: white;
}
    /* Information Section */
    .info {
        width: 35%;
        margin-right: 10px;
        /* for dp / name and icons */
        flex-direction: column;
    }

    .info section { /* Not really that important?*/
        width: 100%;
        padding-bottom: 20px;
    }

    #dp {
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #dps {
        background: black;
        height: 15rem;
        width: 15rem;
        border-radius: 20rem;
        background: url(images/icons/01.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    #bio_name, #icons { /* Controls the height of Name and Icons */
        height:10%;
    }

    #bio_name {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #bio_name H1 {
        font-size: 2rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }

    #icons {
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-width: 75%;
    }

    #icons div { /* Social Media Icons */
        width: 1rem;
        height:auto;
    }
/*---------------------------------------------------------------------*/
    /* Bio Section */
    .bio {
        width: 65%; /* Controls the width of the biography section. */
        flex-direction: column;
        font-size: 1.2rem;
        font-family: 'Manrope', sans-serif;
    }

    .bio section {
        width: 100%;
    }

    #title_bio, #detail_bio { /* Controls the height of heading and detail. */
        height: 10%;
    }

    #title_bio {
        display: flex;
    }

    #about_icon img {
        width: 1.5rem;
    }

    #title_bio h1 {
        margin-top: 0px;
        margin-left: 10px;
        font-size: 2rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 550;
    }

    #detail_bio h4 {
        font-weight: 700;
        
    }

    #para_bio {
        height: 80%; /* Controls the height of paragraph section. */
        display: flex;
    }

    #about_icon {
        height: 30px;
        width: 30px;
        background-color: #ABDE00;
        border: 4px solid #ABDE00;
        box-shadow: 0 0 0 5px #2A3443 inset;
        box-sizing: border-box;
        margin-top: 5px;
    }

    #para_bio p {
        font-weight: 400;
        white-space: pre-line;
    }
/*---------------------------------------------------------------------*/
