html {
    font-size: 16px;
}

/* About Me Section */
.about {
    display: flex;
    background: #2A3443;
    border-radius: 50px;
    justify-content: center;
}

.about-child {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 35rem;
    color: white;
}
    /* Information Section */
    .info {
        width: 35%;
        margin-right: 10px;
        /* for dp / name and icons */
        flex-direction: column;
    }

    .info section { /* Not really that important?*/
        width: 100%;
        padding-bottom: 20px;
    }

    #dp {
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #dps {
        background: black;
        height: 15rem;
        width: 15rem;
        border-radius: 20rem;
        background: url(images/01.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
/*---------------------------------------------------------------------*/