/*---------------------------------------------------------------------*/
section { /* Controls all sections and their positions. */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
  }
/*---------------------------------------------------------------------*/
/* Portfolio */  
#portfolio {
    background: url("../images/02.jpg") no-repeat top center/cover;
    border: 1px solid red;
  }

#portfolio section { /* Controls all sections inside portfolio. */
  border: 1px solid blue;
}
  /*---------------------------------------------------------------------*/
  /* Portfolio - Title Section */ 
  #title_portfolio {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    height: 10%;
    margin-top: 10%;
  }
    #title_portfolio div {
      margin-left: 1%;
    }

    #title_portfolio h1 {
      margin-left: 2%;
      font-size: 2rem;
      font-family: 'Montserrat', sans-serif;
      font-weight: 550;
      color: white;
    }
  /*---------------------------------------------------------------------*/
  /* Portfolio - Project 1 Section */ 
  #portfolio > .project_1 {
    display: flex;
    flex-direction: row;
    width: 80%; /* 10% padding on each side. */
    border: 4px dotted black;
    margin: 2% 0%;
  }

  #portfolio > .project_1 > section {
    border: 1px solid red;
    height: 100%;
  }
  
  /* Portfolio - Project 1 Section - Project Image Section */ 
  .project_image {
    display: flex;
    width: 120%;
  }
      .image_main , img {
        width: 100%;
        height: auto;
        border-radius: 1rem;
        transition: all 1s ease;
      }

  /* Portfolio - Project 1 Section - Project Details*/ 
  .project_details {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding-right: 1%;
    background: rgba(41, 51, 66, 0.44);
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
  }
    .project_heading {
      margin-top: 10%;
      color: #ABDE00; 
      font-size: 1rem;
    }

    .project_details > h2 {
      font-size: 2rem;
      font-family: 'Montserrat', sans-serif;
      font-weight: 550;
      color: white;
    }

    .project_description {
      display: flex;
      align-items: center;
      width: 120%;
      height: 33%;
      background: #10223F;
      box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
      margin: 5% 0%;
      border-radius: 1rem;
      z-index: 2;
    }
      .project_description > p {
        color: #A1ABCA;
        font-size: 1.3rem;
        text-align: right;
        line-height: 2.2rem;
        width: 95%;
        padding: 2%;
      }
        .project_description > p > span {
          color: #ABDE00; 
        }
    
    .languages {
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }
      .languages > span {
        color: #8B96B3;
        width: 15%;
      }

      .project_icons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 12%;
        margin-top: 5%;
      }
